.red {
  background: $red;
  color: white;
}

.yellow {
  color: white;
  background: $yellow;
}

.blue {
  background: $blue;
  color: white;
}

.green {
  background: $green;
  color: white;
}

.violet {
  background: $violet;
  color: white;
}